{% extends 'site/index.html' %}
{% load static %}
{%block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'css/neo.css' %} ">
</head>
<body >
  
    <div class="box">  
        <div class="logo"></div>
        <form action="#" method="post">
            <label for="username">Username</label></br>
            <input type="text" name="uname" id="uname" placeholder="Enter Username" class="input-box">
            </br></br>
            <label for="username">Password</label></br>
            <input type="password" name="uname" id="uname" placeholder="Enter Password" class="input-box"></br>
            <div class="forget">
                <label class="checkbox-label">
                    <input type="checkbox">
                    <span class="checkbox-custom "></span>
                    <span class="label-text">Remember me</span>
                </label>
                <span class="fg">
                   <a href="#"> Forgot password?</a>
                </span>
            </div>
           <a href="dashboard"> <button type="button" class="btn">Sign In</button></a>
        </form>
        <span class="option">or sign in with</span>
        <div class="social">
            <div class="box-radius">
                <img src="{% static 'img/fb.png' %} " alt="">
            </div>
            <div class="box-radius">
                <img src="{% static 'img/google.png' %}  " alt="">
            </div>
        </div>
    </div>
     <footer class="py-5 navbar-custom"  > 
        <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; TESDA-DUMINGAG 2022</p></div>
    </footer>
    {% endblock %}  
</body>
</html>